@model Order

<div class = "row">
    <h3>Ordering</h3>
    <form asp-action="Checkout" method="post" class = "form-horizontal">
        <div class = "form-group">
            <label asp-for="name"></label>
            <div class ="col-md"-5>
                <input asp-for = "name" class = "form-control"/>
                <span asp-validation-for="name" class = "text-dander"></span>
            </div>
        </div>
        <div class = "form-group">
            <label asp-for="surName"></label>
            <div class ="col-md"-5>
                <input asp-for = "surName" class = "form-control"/>
                <span asp-validation-for="surName" class = "text-dander"></span>
            </div>
        </div>
        <div class = "form-group">
            <label asp-for="phone"></label>
            <div class ="col-md"-5>
                <input asp-for = "phone" class = "form-control"/>
                <span asp-validation-for="phone" class = "text-dander"></span>
            </div>
        </div>
        <div class = "form-group">
            <label asp-for="email"></label>
            <div class ="col-md"-5>
                <input asp-for = "email" class = "form-control"/>
                <span asp-validation-for="email" class = "text-dander"></span>
            </div>
        </div>

        <input class = "btn btn-success" type = "submit" value = "Finish order" />
    </form>
</div>