body {
    background : #00ffff
}

.inputClass {
    float: inline-start;
    margin-right: 15px;
    border-radius : 5px;
}
.mt-md-0 {
    margin-top: 0 !important;
    display: flex;
}
.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}